<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&amp;display=swap"
        rel="stylesheet">
    <title>danh sach to do</title>

</head>

<body>
    <h1>list the to do 11/6</h1>

    <!-- thao tac them vao trong list -->
    <!-- <form action="/new-todo" method="POST">
        <input type="text" name="link">
        <input type="text" name="img">
        <input type="text" name="title">
        <input type="number" name="view">
        <button type="submit">Creat Todo</button>
    </form> -->
    <!-- thao tac xoa -->
    <!-- <form action="/delete-todo" method="POST">
        <input type="text" name="title">
        <button type="submit">Xóa todo</button>
    </form> -->
    <!-- thao tac sua doi -->
    <!-- <form action="/fix-todo" method="POST">
        <input type="text" name="title">
        <input type="text" name="newtitle">
        <button type="submit">Fix</button>
    </form> -->
    <form action="/new-todo" method="POST">
    <input type="text" name="title">
    <button type="submit"> Creat a New todo</button>
    </form>

    <% for (let i = 0; i < todoList.length; i++){ %>
    <div>
        <span><%= todoList[i]._id %></span>
        <span><%= todoList[i].title %></span>

        <a href="/todo/<%= todoList[i]._id %>"> Xem chi tiết</a>
    </div>
    <%} %>

</body>

</html>